<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">

	<display-name>BrumBrumPrivati</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>FaiLogin</servlet-name>
		<servlet-class>controller.Login</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FaiLogin</servlet-name>
		<url-pattern>/FaiLogin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RegistrazioneUtente</servlet-name>
		<servlet-class>controller.RegistrazioneUtente</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RegistrazioneUtente</servlet-name>
		<url-pattern>/RegistrazioneUtente</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddCar</servlet-name>
		<servlet-class>controller.AddCar</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddCar</servlet-name>
		<url-pattern>/AddCar</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Cerca</servlet-name>
		<servlet-class>controller.Cerca</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Cerca</servlet-name>
		<url-pattern>/Cerca</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VisAutoSelezionata</servlet-name>
		<servlet-class>controller.VisAutoSelezionata</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>VisAutoSelezionata</servlet-name>
		<url-pattern>/VisAutoSelezionata</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ProfiloUtente</servlet-name>
		<servlet-class>controller.ProfiloUtente</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ProfiloUtente</servlet-name>
		<url-pattern>/ProfiloUtente</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EliminaProfilo</servlet-name>
		<servlet-class>controller.EliminaProfilo</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EliminaProfilo</servlet-name>
		<url-pattern>/EliminaProfilo</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CompraAuto</servlet-name>
		<servlet-class>controller.CompraAuto</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CompraAuto</servlet-name>
		<url-pattern>/CompraAuto</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NoleggiaAuto</servlet-name>
		<servlet-class>controller.NoleggiaAuto</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>NoleggiaAuto</servlet-name>
		<url-pattern>/NoleggiaAuto</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EliminaAutomobile</servlet-name>
		<servlet-class>controller.EliminaAutomobile</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EliminaAutomobile</servlet-name>
		<url-pattern>/EliminaAutomobile</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Cookies</servlet-name>
		<servlet-class>controller.Cookies</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cookies</servlet-name>
		<url-pattern>/Cookies</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LeNostreAuto</servlet-name>
		<servlet-class>controller.LeNostreAuto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LeNostreAuto</servlet-name>
		<url-pattern>/LeNostreAuto</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ConfermaOrdine</servlet-name>
		<servlet-class>controller.ConfermaOrdine</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConfermaOrdine</servlet-name>
		<url-pattern>/ConfermaOrdine</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>StoricoOrdini</servlet-name>
		<servlet-class>controller.StoricoOrdini</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StoricoOrdini</servlet-name>
		<url-pattern>/StoricoOrdini</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RilasciaFeedback</servlet-name>
		<servlet-class>controller.RilasciaFeedback</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RilasciaFeedback</servlet-name>
		<url-pattern>/RilasciaFeedback</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PostaFeedback</servlet-name>
		<servlet-class>controller.PostaFeedback</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostaFeedback</servlet-name>
		<url-pattern>/PostaFeedback</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ModificaAuto</servlet-name>
		<servlet-class>controller.ModificaAuto</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ModificaAuto</servlet-name>
		<url-pattern>/ModificaAuto</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CaricaStatAdmin</servlet-name>
		<servlet-class>controller.CaricaStatAdmin</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CaricaStatAdmin</servlet-name>
		<url-pattern>/CaricaStatAdmin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetTimeServlet</servlet-name>
		<servlet-class>controller.GetTimeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GetTimeServlet</servlet-name>
		<url-pattern>/GetTimeServlet</url-pattern>
	</servlet-mapping>
	<servlet>

		<servlet-name>facebookLogin</servlet-name>
		<servlet-class>controller.facebookLogin</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>facebookLogin</servlet-name>
		<url-pattern>/facebookLogin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SocialLogin</servlet-name>
		<servlet-class>controller.SocialLogin</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SocialLogin</servlet-name>
		<url-pattern>/SocialLogin</url-pattern>
	</servlet-mapping>

</web-app>